# Ignore all files in the specified folders
kitti/training/calib/*
kitti/training/label_2/*
kitti/training/image_2/*
kitti/training/velodyne/*

# But include the folders themselves
!kitti/training/calib/
!kitti/training/label_2/
!kitti/training/image_2/
!kitti/training/velodyne/

# Ignore all files in the specified folders
kitti/testing/calib/*
kitti/testing/image_2/*
kitti/testing/velodyne/*

# But include the folders themselves
!kitti/testing/calib/
!kitti/testing/image_2/
!kitti/testing/velodyne/
